@import 'vars';
.body{
    
}
.back{
    background-image: url(../media/304984372168211.png);
}
.WWIII{
    font-size: 5rem;
    margin-top: 5rem;
    font-family: 'Cabin Condensed', sans-serif;
}
.top{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#bean{

}
#boys{

}
#sadcat{
   
}
#steve{

}
#carl{

}